---
layout: default
---

<div class="home">
  <span class="body">
    A customized R package to create reproducible plots, primarily with the
    <a href = "http://ggplot2.org" target="_blank">ggplot2</a> package. Designed for analysis of international
    development data, some functions are highly specialized for the analysis and visualization
    of household-level surveys. Others are more broadly extendable.
  </span>

  <br>
  <br>
  <h2 class="page-heading">Installation</h2>
  <span class="post-descrip">Installation requires the
    <a href = "https://www.rstudio.com/products/rpackages/devtools/" target = "_blank">devtools</a> package.
    <br>

    Install devtools by running <code>install.packages('devtools')</code> at the console.</span>
    <br>
    <br>

    Then install the llamar library:
    <br>

    <code>library('devtools')</code>
    <br>
    <code>install_github('flaneuse/llamar')</code>
    <br>
    <code>library('llamar')</code>

    <br>
    <br>
    Then you're all set to use the library. Functions with example outputs are provided below.
    Full documentation is available within the package; type <code>?llamar::plot_coef</code> at the console.</span>


    <!-- All plots -->
    <div class = "post-group">
      <h2 class="page-heading">Visualization Functions</h2>

      <ul class="post-list">
        {% for post in site.visualization %}
        <li class="gallery">

          <!-- image -->
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <img class="post-icon" src="{{ post.icon  | prepend: site.baseurl }}"></img> </a>
            <!-- title/link -->
            <span h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              : {{ post.summary }} </h2>

            </li>

            {% endfor %}
          </ul>
        </div>

        <!-- Themes -->
        <div class = "post-group">
          <h2 class="page-heading">Visualization Themes</h2>

          <ul class="post-list">
            {% for post in site.themes %}
            <li class="gallery">

              <!-- image -->
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <img class="post-icon" src="{{ post.icon  | prepend: site.baseurl }}"></img> </a>
                <!-- title/link -->
                <span h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  : {{ post.summary }} </h2>

                </li>

                {% endfor %}
              </ul>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                      <br>
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    
            <!-- All functions -->
            <div class = "post-group">

              <h2 class="page-heading">Analysis / Helper Functions</h2>

              <ul class="post-list-vert">

                {% for post in site.functions %}
                <li class="list">

                  <!-- title/link -->
                  <span h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    : {{ post.summary }} </h2>
                  </li>

                  {% endfor %}
                </ul>
              </div>

            </div>

            <!-- RSS feed
            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
